# .env_sample

EMAIL_USER=<example@email.com> # change here
EMAIL_PASS=<supersecurepassword> # change here

S3_BUCKET=<my-s3-bucket> # change here
AWS_ACCESS_KEY_ID=<your_aws_access_key_id> # change here
AWS_SECRET_ACCESS_KEY=<placeholder_secret_key> # change here
AWS_REGION=<my-region>

BIIGLE_API_EMAIL=<biigle_email> # change here
# Find your Biigle Api token here: https://biigle.de/settings/tokens
BIIGLE_API_TOKEN=<placeholder_api> # change here
